<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-2">
    <div class="user_card">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <%= link_to "New Post", new_micropost_path, class: "btn btn-primary" %>
    </div>
  </aside>
  <div class="col-md-10">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <div class="title">
        <h2>Microposts (<%= @user.microposts.count %>)</h2>
      </div>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <div>
        <%= will_paginate @microposts %>
      </div>
    <% end %>
  </div>
</div>