<% provide(:title, "Post Detail") %>
<div class="row micropost_detail">
  <h1 class="title">Micropost</h1>
  <section class="row">
    <div class="col-md-7">
      <ol class="microposts">
        <ul class="slider image-detail">
          <% @micropost.images.each do |image| %>
            <li><%= image_tag @micropost.display_image(image) %></li>
          <% end %>
        </ul>
      </ol>
    </div>
    <aside class="col-md-5">
      <div class="micropost_data">
        <div class="map_mini">
          <div id="map_mini"></div>
        </div>
        <div class="data_detail">
          <section class="user_info">
            <%= link_to gravatar_for(@micropost.user, size: 40), @micropost.user %>
            <span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>
          </section>
          <p><%= @micropost.address %></p><hr>
          <p><%= @micropost.content %></p><hr>
          <p><%= @tags %></p><hr>
          <p class="created_time">Posted <%= time_ago_in_words(@micropost.created_at) %> ago.</p>
          <% if current_user?(@micropost.user) %>
            <%= link_to "delete", @micropost, method: :delete,
                                             data: { confirm: "You sure?" } %>
          <% end %>
        </div>
      </div>
    </aside>
  </section>
</div>


<script type="text/javascript">
  //slick
  $('.slider').slick({
    autoplay: false,       //自動再生
    autoplaySpeed: 2000,  //自動再生のスピード
    speed: 800,           //スライドするスピード
    dots: true,           //スライド下のドット
    arrows: true,         //左右の矢印
    infinite: true,       //永久にループさせる
});
  
  // Google Map API
  var map;
  var marker;
  $(function a() {
    $(function initMap() {
      var default_point = new google.maps.LatLng(<%= @micropost.lat %>, <%= @micropost.lng %>);
  
      map = new google.maps.Map(document.getElementById('map_mini'), {
        center: default_point,
        zoom: 14,
        disableDefaultUI: true,
      });
      
      marker = new google.maps.Marker({
        position: default_point,
        map: map
      });
    });
  });
</script>